<html ng-app="myApp">
<header>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Plugin's stylesheet -->
    <link rel="stylesheet" href="assets/owl.carousel.css">


</header>
<body style="padding: 10px;">

<h1>Welcome to ngMount Demo Page</h1>
<p>In this demo we are using <a href="http://owlgraphic.com/owlcarousel/">Owl Carousel</a> as a jQuery plugin example.</p>
<h3>How you would use the plugin in a non-Angular application</h3>
Your HTML:
<pre>
    &lt;div id="owl-example" class="owl-carousel">
      &lt;div> Your Content &lt;/div&gt;div
      &lt;div> Your Content &lt;/div&gt;div
      &lt;div> Your Content &lt;/div&gt;div
      &lt;div> Your Content &lt;/div&gt;div
      &lt;div> Your Content &lt;/div&gt;div
      &lt;div> Your Content &lt;/div&gt;div
      &lt;div> Your Content &lt;/div&gt;div
      ...
    &lt;/div&gt;
</pre>
.. and in your js:
<pre>
$(document).ready(function() {

  $("#owl-example").owlCarousel();

});
</pre>

<h3>How you use the plugin in your Angular application</h3>
Your HTML:
<pre>
    &lt;div ng-controller="myCtrl" class="owl-carousel" ng-mount="&#123;plugin: 'owlCarousel', params:&#123;items:4&#125;&#125;">
        &lt;div ng-repeat="c in contents"> &#123;&#123;c&#125;&#125; &lt;/div&gt;
    &lt;/div&gt;
</pre>
.. and in your js:
<pre>
    app.controller("myCtrl", function($scope) {
        $scope.contents = ["Content 1", "Content 2", "Content 3", "Content 4", "Content 5", "Content 6"]
    });
</pre>

<h2>See the plugin in action here:</h2>
<br>
    <div ng-controller="myCtrl" style="margin-left:auto; margin-right: auto; width:60%" class="owl-carousel" ng-mount="{plugin: 'owlCarousel', params:{items:4}}">
        <div ng-repeat="c in contents"> {{c}} </div>
    </div>
<br>
<br>
<br>
<br>
<br>

<!--  jQuery  -->
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include js plugin -->
<script src="assets/owl.carousel.min.js"></script>

<!-- Include AngularJs -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<!-- Include ngMount -->
<script src="src/ng-mount.js"></script>

<!-- your app -->
<script>

    var app = angular.module("myApp", ['ngMount']); //load module

    app.controller("myCtrl", function($scope) {
        $scope.contents = ["Content 1", "Content 2", "Content 3", "Content 4", "Content 5", "Content 6"]
    });

</script>

</body>
</html>